<h1>管理者用画面</h1>
<p>ここでは商品管理、index、管理者の追加削除を行う予定</p>

<li><%= link_to " 商品登録",   '#' %></li>
<li><%= link_to "管理者一覧",   '#' %></li>
<li><%= link_to "管理者の追加", '#' %></li>
<li><%= link_to "管理者の削除", '#' %></li>
